<div class="row">
  <div class="col-md-4">
    <figure class="figure">
      <img src="<%= personal_img_src %>" class="figure-img img-fluid rounded" alt="The avatar image for the personal account." width="200" height="200">
      <figcaption class="figure-caption text-xs-right"><%= personal_caption %></figcaption>
    </figure>
  </div>
  <div class="col-md-4">
    <span class="sync-arrow">&rarr;</span>

    <% if personal_signed_in? && business_signed_in? %>
      <form method="post" action="/synchronize/new" class="button_to">
        <button type="button" class="btn btn-primary">Synchronize</button>
      </form>
    <% end %>

  </div>
  <div class="col-md-4">
    <figure class="figure">
      <img src="<%= business_img_src %>" class="figure-img img-fluid rounded" alt="The avatar image for the business account." width="200" height="200">
      <figcaption class="figure-caption text-xs-right"><%= business_caption %></figcaption>
    </figure>
  </div>
</div>
